# Server
PORT=3000

# Firebase JWT validation
VALIDATION_PUBLIC_KEY_URL=https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com
VALIDATION_ISSUER_URL=https://securetoken.google.com/{your-project-id}

# Issued token configuration
ISSUER_URL=http://localhost:3000

# Optional: comma-separated list of allowed CORS origins
ALLOWED_ORIGINS=
