{{- if .Values.attester.enabled }}
{{- range $i := until (int .Values.attester.replicas) }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $.Values.attester.cronjob.name }}-{{ $.Values.environment }}-{{ $i }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: {{ $.Values.attester.cronjob.name }}-{{ $.Values.environment }}-{{ $i }}
spec:
  schedule: "*/5 * * * *"
  timeZone: "Europe/Madrid"
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            timestamp: {{ $.Values.timestamp }}
          labels:
            app: {{ $.Values.attester.cronjob.name }}-{{ $.Values.environment }}-{{ $i }}
        spec:
          serviceAccountName: peersyst-secrets-iamserviceaccount
          restartPolicy: Never
          volumes:
            - name: {{ $.Values.attester.cronjob.name }}-secrets-{{ $i }}
              csi:
                driver: secrets-store.csi.k8s.io
                readOnly: true
                volumeAttributes:
                  secretProviderClass: attester-{{ $.Values.environment }}-secrets-{{ $i }}
          containers:
            - name: attester
              image: peersyst/fast-auth-attester:{{ $.Values.tagAttester }}
              resources:
                requests:
                  memory: {{ $.Values.attester.cronjob.memoryRequest }}
                  cpu: {{ $.Values.attester.cronjob.cpuRequest }}
                limits:
                  memory: {{ $.Values.attester.cronjob.memoryLimit }}
                  cpu: {{ $.Values.attester.cronjob.cpuLimit }}
              volumeMounts:
                - name: {{ $.Values.attester.cronjob.name }}-secrets-{{ $i }}
                  mountPath: "/mnt/secrets"
                  readOnly: true
              env:
              {{- range $k, $v := $.Values.attester.secretProviderClass.secrets }}
                - name: {{ $v }}
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.attester.secretProviderClass.objectAlias }}
                      key: {{ $v }}
              {{ end }}
          imagePullSecrets:
            - name: regcred
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: attester-{{ $.Values.environment }}-secrets-{{ $i }}
  namespace: {{ $.Values.namespace }}
spec:
  provider: aws
  parameters:
    region: us-east-1
    objects: |
      - objectName: {{ $.Values.attester.secretProviderClass.objectName }}-{{ $i }}
        objectType: secretsmanager
        jmesPath:
        {{- range $k, $v := $.Values.attester.secretProviderClass.secrets }}
          - path: {{ $v }}
            objectAlias: {{ $k }}
        {{ end }}
  secretObjects:
    - secretName: {{ $.Values.attester.secretProviderClass.objectAlias }}-{{ $i }}
      type: Opaque
      data:
    {{- range $k, $v := $.Values.attester.secretProviderClass.secrets }}
        - objectName: {{ $k }}
          key: {{ $v }}
    {{ end }}
{{- end }}
{{- end }}
