.avatar {
    width: 4.5rem;
    border-radius: 12px;
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 999px;
    background-color: #f6f6f6;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
}
