name: "Pull Request"

on:
  pull_request:
    types: [opened, synchronize]

concurrency:
  # Cancel old runs if there is a new commit in the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-base:
    uses: ./.github/workflows/build-base.yaml
    secrets: inherit
    with:
      push: true
      tag: ${{ github.sha }}

  build-relayer:
    needs: [build-base]
    uses: ./.github/workflows/build-relayer.yaml
    secrets: inherit
    with:
      target: integration
      push: false
      tag: ${{ github.sha }}

  build-attester:
    needs: [build-base]
    uses: ./.github/workflows/build-attester.yaml
    secrets: inherit
    with:
      target: integration
      push: false
      tag: ${{ github.sha }}

  build-custom-issuer:
    needs: [build-base]
    uses: ./.github/workflows/build-custom-issuer.yaml
    secrets: inherit
    with:
      target: integration
      push: false
      tag: ${{ github.sha }}
